.Register {
    margin: 20px auto;
    width: 80%;
    text-align: center;
    box-shadow: 0 2px 3px #4f4f4f;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
    background-color: white;
}

@media (min-width: 600px) {
    .Register {
        width: 500px;
    }
}
